img {
  max-width: 100%;
  animation: transitionPlay 1.1s;

}

html {
  overflow: auto;
  background: transparent;
}

.center {
  text-align: center;
}

.left {
  margin-left: 0;
}

.lit {
  font-size: 1.5rem;
  font-weight: 300;
}

.little-svg {
  fill: #fff;
}

.ml-0 {
  margin-left: 1rem;
}

.ml {
  margin-left: 2rem;
}

.ml-1 {
  margin-left: 4.5rem;
}

.bottom {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: 0px;
}

.mb-2 {
  margin-bottom: 5px;
}

.mb-3 {
  margin-bottom: 20px;
}

.mr {
  margin-right: 32px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-2 {
  margin-top: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mx-auto {
  margin: auto;
}

.mode {
  position: absolute;
  display: block;
  cursor: pointer;
}

.title {
  position: relative;
  width: auto;
}

.modeswitch {
  cursor: pointer;
  position: relative;
  right: 0px;
  top: 0;
  float: right;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.tag-link {
  margin-right: 10px;
}

.about {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* blockquote */

blockquote footer {
  font-family: 'Inter';
  font-size: 16px;
  padding-bottom: 10px;
  margin-top: -10px;
}

blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}

/* Footer */
a.footer-link {
  all: initial;
}

a.footer-link:hover,
a.footer-link:focus {
  cursor: pointer;
}

.svg-hov {
  transition: all .2s ease-in-out;
}
.svg-hov:hover {
  transform: translateY(-3px);
  transition: all .2s ease-in-out;

}

.github, .twitter, .instagram {
  width: 20px;
}

.github {
  fill: #63636F;
}
.twitter {
  fill: #1DA1F2;
}
.instagram {
  fill: #E4405F
}

/* Nanobar */
.nanobar {
  left:0;
}

body {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

body.darkmode {
  background: rgb(35, 35, 35);
  color: rgb(256, 256, 256);
}

.trans {
  animation: transitionPlay 0.7s;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.trans::-webkit-scrollbar {
  display: none;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: rgb(128 128 128 / 50%);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(128 128 128 / 20%);
}
::-webkit-scrollbar-thumb:active { 
background-color: rgb(128 128 128 / 100%);
    all: initial;	
}

@keyframes transitionPlay {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.hidden {
  display: none;
}

.posisi {
  text-align: center;
}



@media (min-width: 550px) {
  .posisi {
    text-align: right;
  }


}


.drop {
  width: 4px;
  height: 4px;
  position: absolute;
  top: 8px;
  background-color: #ffb7c5;
  border-radius: 2px;
  animation: drop 6s infinite cubic-bezier(.63,.36,.93,.84);
  z-index: 99;
}

@keyframes drop {
  from {
    top: 8px;
    filter: none;
  }
  20% {
    filter: none;
  }
  to {
    top: 95%;
    filter: blur(8px);
  }
}
